<!DOCTYPE html>
<html>
<head>
  <title>Hipchat</title>
	<%= stylesheet_link_tag "boots.css" %>
  <%= stylesheet_link_tag "hipchat.css" %>
  <%= javascript_include_tag "default" %>
  <%= javascript_include_tag 'jquery', 'application' %>
  
</head>
<body >
  <div class ="container"> 
		<%= yield %>
	</div>
</body>

</html>
